body{
				padding:10px;
}
.semua {
  font-size: 16px;
  padding: 10px;
}
.nomor {
  margin: 0 0 20px 0;
}
.opsinya {
  list-style: upper-alpha;
  padding-left: 20px;
}
.opsinya label {
  cursor: pointer;
  font-weight: normal !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.pilih {
  margin-left: 5px;
  margin-right: 10px;
}
#selesai {
  padding: 5px 20px;
}
#kuis_lagi {
    display: none;
}
#nilai {
    display: none;
}
.pointkp {
    color: #1abc9c;
    font-weight: bold;
    display: none;
}
    @media (max-width : 991px){
.depan {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #ffffff; -webkit-box-shadow: 0 0 3px #ffffff; }
  50% { background-color: #3498db; -webkit-box-shadow: 0 0 40px #3498db; color:#ffffff; }
  100% { background-color: #ffffff; -webkit-box-shadow: 0 0 3px #ffffff; }
}

@-moz-keyframes glowing {
  0% { background-color: #ffffff; -moz-box-shadow: 0 0 3px #ffffff; }
  50% { background-color: #3498db; -moz-box-shadow: 0 0 40px #3498db; color:#ffffff; }
  100% { background-color: #ffffff; -moz-box-shadow: 0 0 3px #ffffff; }
}

@-o-keyframes glowing {
  0% { background-color: #ffffff; box-shadow: 0 0 3px #ffffff; }
  50% { background-color: #3498db; box-shadow: 0 0 40px #3498db; color:#ffffff; }
  100% { background-color: #ffffff; box-shadow: 0 0 3px #ffffff; }
}

@keyframes glowing {
  0% { background-color: #ffffff; box-shadow: 0 0 3px #ffffff; }
  50% { background-color: #3498db; box-shadow: 0 0 40px #3498db; color:#ffffff; }
  100% { background-color: #ffffff; box-shadow: 0 0 3px #ffffff; }
}   
}
.content-wrapper {
    padding-top: 55px;
}
